<h1>Link Show Page</h1>

<%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

<%= @link.title %>
<%= @link.url %>

<%= link_to "Links", links_url%>
<%= link_to "Edit Link", edit_link_url(@link)%>
